.cardMovies{
    width: 300px;
    height: 350px;
    position: relative;
    background-color: black;
    margin: 5px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.cardMovies > img{
    width: 95%;
    height: 95%;
    border-radius: 10px;
}
.buttonSelect{
    display: block;
    background-color: white;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    font-size:xx-large;
    position: absolute;
    bottom: 20px;
    left: 15px;
}